/* VARIABLES */
/* COLORS */
$brand-primary: #00c4b5;
$brand-secondary: #dedc00;
$brand-lemon: #fff219;
$brand-quaternary: #f282a5;
$brand-menthol: #14877d;
$brand-coral: rgb(250, 90, 85);
$brand-paprika: rgb(205, 0, 125);
$color-white: #fff;
$color-dark: #676767;
$color-gray: #cecece;
$color-lightgray: #ededed;
$color-jungle: #193805;

/* FONT */
$font-montserrat: "Montserrat", sans-serif;
$font-weight-bold: 700;


.register {
	display: block;
	color: $color-white;
	margin: 2rem auto;
	padding: 2rem;
	background: $color-jungle;

	&-icon {
		display: flex;
		background: $color-white;
		border-radius: 2rem;
		width: 50px;
		height: 50px;
		padding: 1rem;
		margin: -50px auto 20px;

		&-item {
			width: 100%;
		}
	}


	&-stepper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		position: relative;
		margin: 0 auto 1.5em;

		&::before {
			z-index: 0;
			content: "";
			display: block;
			position: absolute;
			height: 2px;
			top: calc(50% - 1px);
			background: $color-gray;
			width: calc(100% - 20px);
		}

		.step {
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;
			border: 2px solid $color-gray;
			color: $color-gray;
			background-color: $color-white;
			border-radius: 50%;
			min-width: 25px;
			min-height: 25px;
			line-height: 20px;
			font-size: 16px;

			&-active {
				color: $brand-primary;
				background-color: $color-white;
				border-color: $brand-primary;
			}


			&-number {
				font-family: $font-montserrat;
				font-weight: 800;
				line-height: 1;
				vertical-align: middle;
			}
		}
	}

	.form {
		&-group {
			&.cta-step {
				color: $color-white;
				justify-content: space-between;
				
				.cta.prev {
					padding: 10px 30px;
				}
			}

			&.new-password {
				margin-top: 2rem;
			}
		}
		
		.cta-color, 
		.cta-color input,
		.cta-color .link_text {
			color: $color-white;
			font-family: $font-montserrat;
			font-size: 1.1rem;
			text-decoration: none;
		}
		
		.cta-color .link_wrap {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			
			.arrow-prev {
				position: relative;
				display: inline-block;
				transform: translate(0);
				transition: transform .3s ease-in-out;
				
				&::before {
					content:'<';
					position: absolute;
					top: -17px;
					left: -25px;
				}
			}
			
			.arrow-next {
				position: relative;
				display: inline-block;
				transform: translate(0);
				transition: transform .3s ease-in-out;
				
				&::before {
					content:'>';
					position: absolute;
					top: -10px;
					left: -25px;
				}
			}
			
			&:hover .arrow-prev {
				transform: translate(-5px);
			}
			
			&:hover .arrow-next {
				transform: translate(5px);
			}
		}
	}
	// Override styles for input
	input[type="submit"],
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="date"] {
		-webkit-appearance: none;
		border: 0;
		border-radius: 5px;
		padding: 1.3rem 1rem;
		width: 100%;
		margin: 0.5rem;
	}

	
        .slide-fade-enter-active {
            transition: all .3s ease;
        }
        .slide-fade-leave-active {
            display: none;
            transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to {
            transform: translateX(10px);
            opacity: 0;
        }
}