<template>
	<section class="register">

		<div class="register-stepper">
			<div class="step" :class="{'step-active' : step === 1, 'step-done': step > 1}"><span class="step-number">1</span></div>
			<div class="step" :class="{'step-active' : step === 2, 'step-done': step > 2}"><span class="step-number">2</span></div>
			<div class="step" :class="{'step-active' : step === 3, 'step-done': step > 3}"><span class="step-number">3</span></div>
			<div class="step" :class="{'step-active' : step === 4, 'step-done': step > 4}"><span class="step-number">4</span></div>

		</div>

		<transition name="slide-fade">
			<section v-show="step === 1">
				<form class="form" method="post" action="#" @submit.prevent="next">
					<div class="form-group mb-2">
						<label for="meal" class="mb-2">Please select a meal</label>
						<select class="form-control" id="meal" required v-model="dishes.meal_id">
							<option value="">---</option>
							<option v-for="(item, index) in listMeals" :key="index" :value="item.id">{{  item.name  }}</option>
						</select>
					</div>
					<div class="form-group mb-2">
						<label for="number_people" class="mb-2"></label>
						<input type="number" class="form-control" v-model="dishes.number_people" required>
					</div>

					<div class="form-group d-flex justify-content-between mt-2">
						<div>
							<button type="submit"  class="btn btn-danger">Next</button>
						</div>
					</div>
				</form>
			</section>
		</transition>
		<transition name="slide-fade">
			<section v-show="step === 2">
				<form class="form" method="post" action="#" @submit.prevent="next">
					<div class="form-group mb-2">
						<label for="Restaurant" class="mb-2">Please select a Restaurant</label>
						<select class="form-control" id="Restaurant" required v-model="dishes.restaurant_id">
							<option value="">---</option>
							<option v-for="(item, index) in listRestaurant" :key="index" :value="item.id">{{  item.name  }}</option>
						</select>
					</div>
					<div class="form-group d-flex justify-content-between mt-2">
						<div>
							<button class="btn btn-danger" @click.prevent="prev()">Previous</button>		
						</div>
						<div>
							<button type="submit"  class="btn btn-danger">Next</button>
						</div>
					</div>
				</form>
			</section>
		</transition>
		<transition name="slide-fade">
			<section v-show="step === 3">
				<form class="form" action="#" @submit.prevent="next">

					<div class="form-group d-flex justify-content-end">
						<div>
							<a href="#"  class="btn btn-info" @click.prevent="addItem">Add</a>
						</div>
					</div>
					<AddItem :dish="dishes.dish" :listDish="listDish" @removeItem="removeItem"></AddItem>
					
					<div class="form-group d-flex justify-content-between mt-2">
						<div>
							<button class="btn btn-danger" @click.prevent="prev()">Previous</button>		
						</div>
						<div>
							<button type="submit"  class="btn btn-danger">Next</button>
						</div>
					</div>
				</form>
			</section>
		</transition>
		<transition name="slide-fade">
			<section v-show="step === 4">
				<form class="form" action="#" @submit.prevent="customerRegister">
					<div class="row mb-2">
						<div class="col-md-2">
							<label> Meal </label>
						</div>
						<div class="col-md-10">
							<template v-for="(item, index) in listMeals" :key="index">
								<label v-if="item.id == dishes.meal_id"> {{  item.name  }} </label>
							</template>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-2">
							<label> No of people </label>
						</div>
						<div class="col-md-10">
							<label>{{  dishes.number_people  }}</label>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-2">
							<label> Restaurant </label>
						</div>
						<div class="col-md-10">
							<template v-for="(item, index) in listRestaurant" :key="index">
								<label v-if="item.id == dishes.restaurant_id"> {{  item.name  }} </label>
							</template>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-2">
							<label> Dish </label>
						</div>
						<div class="col-md-10">
							<template v-for="(item, index) in listDish" :key="index">
									<template v-for="(itemdish, keydis) in dishes.dish" :key="keydis">
											<p class="color-red" v-if="item.id == itemdish.dish_id"> {{  item.name  }} --- {{ itemdish.servings }} </p>
									</template>
							</template>
						</div>
					</div>
					
					<div class="form-group d-flex justify-content-between mt-2">
						<div>
							<button class="btn btn-danger" @click.prevent="prev()">Previous</button>		
						</div>
						<div>
							<button type="submit"  class="btn btn-danger">Submit</button>
						</div>
					</div>
				</form>
			</section>
		</transition>
	</section>
</template>
<script>
import { ApiService } from '@/service/api.service'
import AddItem from "./AddItem.vue";
export default {
    name: 'DishesAdd',
	components: {
		AddItem
	},
    data: () => {
    return {
		listRestaurant: [],
		listDish: [],
      listMeals: [],
      steps: {},
      step: 1,
      dishes: {
        meal_id: "",
        number_people: 1,
		restaurant_id: "",
		dish: [{ "dish_id" : "", "servings": 1 }]
      }
	}
  },
  mounted() {
	this.getListMeal()
  },
  methods: {
    prev() {
      this.step--;
    },

    next() {
      this.step++;
	this.callData()
    },

    async customerRegister() {
		let res = await ApiService.createDishes(this.dishes)
		if(res) {
			this.$router.push('/')
		}
    },

    async getListMeal() {
      let res = await ApiService.getMeals()
      this.listMeals = res.data
    },
	
	async getRestaurant() {
		let res = await ApiService.getRestaurant()
        this.listRestaurant = res.data
	},
	
	async getDish() {
		let res = await ApiService.getDish()
        this.listDish = res.data
	},

	callData() {
		switch (this.step) {
			case 2:
				if(this.listRestaurant.length == 0) {
					this.getRestaurant()
				}
				break;
			case 3:
				if(this.listDish.length == 0) {
					this.getDish()
				}
				break;
		}
	},

	addItem() {
		this.dishes.dish.push({ "dish_id" : "", "servings": 1 })
	},
	
	removeItem(index) {
		this.dishes.dish.splice(index, 1);
	},

  }
}
</script>
<style lang="scss">
@import "./../../assets/style/step.scss";
.color-red {
	color: red;
}
</style>