<template>
					<div class="row" v-for="(itemdish, index) in dish" :key="index">
						<div class="col-md-5">
							<div class="form-group mb-2">
						<label for="Restaurant" class="mb-2">Please select a Dish</label>
						<select class="form-control" id="Restaurant" required v-model="itemdish.dish_id">
							<option value="">---</option>
							<option v-for="(item, index) in listDish" :key="index" :value="item.id">{{  item.name  }}</option>
						</select>
					</div>
						</div>
						<div class="col-md-5">
							<div class="form-group mb-2">
								<label for="number_people" class="mb-2">Please enter no of servings</label>
								<input type="number" class="form-control" v-model="itemdish.servings" required>
							</div>
						</div>
						<div class="col-md-2 mt-4">
							<a class="btn btn-danger" @click.prevent="removeItem(index)">Delete</a>
						</div>
					</div>
</template>
<script>
export default {
    name: "AddItem",
    props: ["dish", "listDish"],
    methods: {
        removeItem(index) {
            this.$emit('removeItem', index)
        }
    }

}
</script>