<template>
    <div class="table-responsive">
<h2 class="text-center">List Dishes</h2>
<div class="d-flex flex-row-reverse">
    <button class="btn btn-primary"><router-link to="/dishes-add" class="nav-link" >Add Dishes</router-link></button>

</div>
  <table class="table">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Name</th>
        <th>Restaurant</th>
        <th>AvailableMeals</th>
      </tr>
    </thead>
    <tbody>
       <template v-if="listDishes.length > 0">
        <tr v-for="(item, index) in listDishes" :key="index">
          <td>{{  index + 1  }}</td>
          <td>{{  item.name  }}</td>
          <td>{{  item.restaurant  }}</td>
          <td>{{  convertArrayToString(item)  }}</td>
        </tr>
       </template>
       <template v-else>
        <tr>
          <td colspan="4">No data system</td>
        </tr>
       </template>
    </tbody>
  </table>
  </div>
</template>
<script>
import { ApiService } from '@/service/api.service'

export default {
    name: "DishesList",
    data() {                                  
      return {
        listDishes: []
      }
    },
    mounted() {
            this.getList()
    },
    methods: {
        async getList() {
            let res = await ApiService.getDishes()
            this.listDishes = res.data
        },
        convertArrayToString(item) {
            return item.availableMeals.join(" | ");
        }
    }
}
</script>